##Original 
.idea/
*.mp4

*.zip

src/auth*.dat

#Composer
composer.lock
composer.phar
vendor/

# Created by https://www.gitignore.io

### Bot ###
*.log

## Snaps ###
snaps/*/

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# NPM Dependency directory
node_modules


### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp
