##Original 
.idea/
*.jpg

*.mp4

*.zip

*.png

src/auth*.dat

#Composer
composer.lock
composer.phar
vendor/

# Created by https://www.gitignore.io

### Bot ###
*.log

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
